<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER</title>
    <link rel="stylesheet" href="/css/styles.css" >
    <script src="https://kit.fontawesome.com/1b02374fff.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section>
            <div>
                <p>APROVECHA 3 6 Y 12 CUOTAS SIN INTERESES SELECCIONANDO
                    MERCADO PAGO</p>
            </div>
            <div>
                <nav>
                    <ul>
                       <li><a href=""><i class="fas fa-bars"></i></a></li>
                       <li><a href=""><i class="fas fa-search"></i></a></li>
                       <li><a href=""><img src="/css/img/Logo Valka.png" alt=""></a></li>
                       <li><a href=""><i class="far fa-user"></i></a></li>
                       <li><a href=""><i class="far fa-heart"></i></a></li>
                       <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    
</body>
</html>