<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER</title>
    <link rel="stylesheet" href="/css/styles.css" >
    <script src="https://kit.fontawesome.com/1b02374fff.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="text-superior">
            <p>APROVECHA 3 6 Y 12 CUOTAS SIN INTERESES SELECCIONANDO
                MERCADO PAGO</p>
        </div>
        <div class="barra-menu">
            <i class="fas fa-bars"></i>
            <div class="contenedor-logos">
                <div class="logo1">
                   <a href="./index"> <img src="/img/Logo_Valka.png" alt=""></a>
                </div>
                <div class="logo2">
                    <a href="./index"><img src="/img/Logo_Valka2.png" alt=""></a>
                </div>
            </div>
            <nav>
                <ul>
                    <li>novedades</li>
                    <li>joyas</li>
                    <li>sale 30%</li>
                    <li>ideas para regalos</li>
                </ul>
            </nav>
            <div class="buscador">
                <form action="#">
                    <div class="contenedor-input">
                        <input type="text" placeholder="Buscar"> 
                        <i class="fas fa-search"></i>
                    </div>
                </form>
            </div>
            <div class="iconos-top">
                <i class="far fa-user"></i>
                <i class="far fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    
</body>
</html>