<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Usuarios</title>
    <link rel="stylesheet" href="/css/styles.css" >
    <script src="https://kit.fontawesome.com/1b02374fff.js" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <p>Años de trayectoria trabajando con joyeria de calidad nos avalan.</p>
        <p>Amplio surtido en joyas de oro 18k y plata 925</p>
        <p>Brindamos atencion a minoristas, mayoristas, empresa e instituciones.</p>
        <p>Registrate y sé parte de la comunidad de Valka joyas!!!</p>
    </section>
    <section>
        <h2>Iniciar Sesion</h2>
        <h4>Correo electrónico</h4>
        <h2>Ingresá a tu cuenta</h2>
        <form action="login.html">
            <div class="login__main__form">
                <div class="login__main__form-div">
                    <label for="nick">Correo electronico</label>
                    <input type="text" placeholder="Ej: soy@jorgegutierrez.com" id="nick" name="nick">
                    <span class="login__main__form-div-span">*Nombre de usuario incorrecto</span>
                </div>
                <div class="login__main__form-div">
                    <label for="password">Contraseña</label>
                    <input type="password" placeholder="Escribe una contraseña" id="password" name="password">
                    <span class="login__main__form-div-span">*Contraseña incorrecta</span>
                </div>
                <div class="login__main__form-checkbox">
                    <input type="checkbox" value="" id="remember">
                    <label for="remember">Recuerdame</label>
                </div>
                <div class="login__main__form-div-button">
                    <input class="login__main__form-button-submit" type="submit" value="Ingresar">
                    <button class="login__main__form-button-create">Crear cuenta</button>
                </div>
            </div>
        </form>
    </section>
    <section>
        <article>
            <img src="" alt="cara">
        </article>

    </section>
</body>
</html>