<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css" >
    <script src="https://kit.fontawesome.com/1b02374fff.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- AVISO:
Por cada caterogia hacer un enlace al titulo.
EJEMPLO
<h2 id="cat_nombre">CATEGORIA NOMBRE</h2>
ENTRAR A CATEGORIA CON CLICK
<a href="#seccion-home">Ir a la sección de inicio</a>-->


     <nav class="detallep__body__nav">
        <ul class="detallep__body__nav__ul">
            <li><a href="/">Tienda</a></li>
            <li><a href="#cat__Premium">Premium</a></li>
            <li><a href="#art__Pendientes">Pendientes</a></li>
        </ul>
    </nav>
    <div class="detallep__body__contenedor--principal">
    <section class="detallep__body__section1">
        <div><img src="/css/img/pendiente256-1.png" alt="pendiente256-1"></div>
        <div><img src="/css/img/pendiente256-2.png" alt="pendiente256-2"></div>
        <div><img src="/css/img/pendiente256-3.png" alt="pendiente256-3"></div>
        <div><img src="/css/img/pendiente256-4.png" alt="pendiente256-4"></div>
        
    </section>
    
    <section class="detallep__body__section3">
        <div class="detallep__body__section3__cont">
            <div class="detallep__body__section3__div--imgs">
                <a href="#"><img src="/css/img/icon_facebook.png" alt="icon_facebook"></a>
                <a href="#"><img src="/css/img/icon_pintarest.png" alt="icon_pintarest"></a>
                <a href="#"><img src="/css/img/icon_instagram.png" alt="icon_instagram"></a>
            </div>
                <div class="detallep__body__section3__div--corazon">
                 <!-- cambiar botones de imagen por fontzane (iconos hechos caracteres) -->
                <button><img src="/css/img/me-gusta.png" alt="icon_me-gusta"></button>
            </div>
        </div>
        <article class="detallep__body__section__article">
            <img src="/css/img/pendientes600-1.png" alt="pendientes600">
            <div class="detallep__body__section__article__div--button">
            <button><a href="#"><i class="fa-solid fa-arrow-left"></i></a></button>
            <button><a href="#"><i class="fa-solid fa-arrow-right"></i></a></button>
            </div>
        </article>
    </section>
   <section class="detallep__body__section2">
    <article class="detallep__body__section2__article">
        <h2>Pendientes de Diamantes y Oro Eternity mini</h2>
        <h4>Los pendientes de esta coleccion son una pieza exquisita de oro</h4>
        <div class="detallep__body__section2__article__div">
            <p class="detallep__body__section2__article__div__precio-original">$ 6000</p>
            <p class="detallep__body__section2__article__div__descuento">Con descuento <br> del 25%</p>
            <p class="detallep__body__section2__article__div__precio-oferta">$ 4500</p>
        </div>
        <p class="detallep__body__section2__article__cuotas">6 cuotas sin interes de:</p>
        <p class="detallep__body__section2__article__precio-cuota">$ 900,00</p>
        <div class="detallep__body__section2__article__div--envio">
            <img src="/css/img/camion.png" alt="camion">
            <p>Envio gratis</p>
        </div>
        <div class="detallep__body__section2__article__mediospago--img">
             <p class="detallep__body__section2__article__medios">MEDIOS DE PAGO</p>
            <center> <img class="img_tarjeta" src="/css/img/tarjetas.png" alt="tarjetas"></center>
            <a href="#"><p class="detallep__body__section2__article__consulta">Consultar medios de pago</p></a>
        </div>
        <div class="detallep__body__section2__article__cantidad">
            <p>Cantidad</p>
            <img src="/css/img/menos.png" alt="menos">
            <p class="detallep__body__section2__article__cantidad__n">0</p>
            <img src="/css/img/mas.png" alt="mas">
        </div>
        <div class="detallep__body__section2__article__carro">
            <button><p>Agregar al Carro</p>
            </button>
            <p><a href="#">Encuentra tu tamaño ideal</a></p>
            <p><a href="#">Consultas producto</a></p>
         </div>
    </article>
    </section>
    </div>
    <section class="detallep__body__sectionamar">
        <div class="detallep__body__sectionamar__div--carro">
            <p><a href="#">agregar al carro</a></p>
        </div>
        <h2>Pendientes de Diamantes y Oro Eternity mini</h2>
        <div class="detallep__body__sectionamar__div--cont">
            <h3>Descripcion:</h3>
            <h4>Los pendientes de esta coleccion son una pieza exquisita de oro.</h4>
            <h3>Caracteristicas:</h3>
            <ul>
                <li><strong>Referencia: </strong>359414A</li>
                <li><strong>Modelo: </strong>Aros abridores perlas blancas 5MM</li>
                <li><strong>Metal: </strong>ORO 18 KTS</li>
                <li><strong>Color de Metal: </strong>Amarillo</li>
                <li><strong>Tamaño: </strong>Ch-112</li>
                <li><strong>Medida: </strong>5 mm diámetro</li>
                <li><strong>N° de Piedras: </strong>0</li>
                <li><strong>Tipo de Piedra: </strong>N/A</li>
                <li><strong>Color de Piedra: </strong>N/A</li>
                <li><strong>Cierre: </strong>A PRESIÓN</li>
                <li><strong>Garantía: </strong>Si de por vida material</li>
                <li><strong>Estuche: </strong>Si listo para regalar!</li>
                <li><strong>Hecho en: </strong>Argentina</li>
                <li><strong>Entrega inmediata: </strong>Si</li>
            </ul>
            <h3>Medidas recomendadas:</h3>
            <div class="detallep__body__sectionamar__div--contmedidas">
            <ol>
            <li><p>Ch-110: recien nacidas en adelante</p></li>
            <li><p>Ch-111: recien nacidas / 6 meses en adelante</p></li>
            <li><p>Ch-112: 1 AÑO en adelante</p></li>
            </ol>
            <img src="/css/img/garantia.png" alt="garantia">
        </div>
    </div>
    </section>
    
</body>
</html>