/* Boton primario */

.botonPrimario{
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    padding: 20px 20px;
    border: 0;
    width: 100%;
    font-size: 0.75rem;
}

.botonPrimario i{
    display: inline;
    font-size: 0.8rem;
    padding: 0px 4px;
    text-align: center;
}

/* Boton primario small */

.botonPrimario-small{
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    padding: 20px 20px;
    border: 0;
    width: 7.375rem;
    font-size: 0.75rem;
}



.botonPrimario-small i{
    display: inline;
    font-size: 0.8rem;
    padding: 0px 4px;
    text-align: center;
}

/* Boton secundario */

.botonSecundario{
    background-color:transparent;
    color: var(--colorNegro);
    border: 1px solid var(--colorNegro);
    padding: 20px 20px;
    width: 100%;
    font-size: 0.75rem;
}




@media(min-width:768px){
    .botonPrimario{
        font-size: 0.875rem;
        width: 230px;
        line-height: 0;
    }
    
    .botonPrimario i{
        display: inline;
        font-size: 1rem;
        padding: 0px 8px;
        text-align: center;
    }
}


@media(min-width:1024px){


}