body {
background-color: rgb(255, 255, 255);
}

.login__body__section1{
    background-color: var(--colorCeleste);
    padding: 0px 10px;
}

.login__body__section1 p{
    background-color: var(--colorCeleste);
    font-family: var(--tipografia);
    font-weight: bold;
    padding: 5px;
    font-size: 2vmax;
}

.login__body__section2 h2{
font-family: var(--tipografiaTitulos);
padding: 10px 10px 50px 10px
}


.login__main__form-div{
    padding: 10px;
}

.login__main__form-div label{
    display: block;
margin-bottom: 10px;
    
}



.login__main__form-div input {
    width: calc(100% - 10px); 
    height: auto;
    font-size: 16px;
    padding: 5px;
    background-color: var(--colorCeleste); 
    color: var(--colorGris);
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.login__main__form-div label{
    font-family: var(--tipografiaTitulos);

}

.login__main__form-div {
    margin-bottom: 15px;
    width: 100%;
}

.login__main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login__main__form-checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    left: 25px;
    margin-top: -20px;
}

.login__main__form-checkbox label {
    margin-left: 5px;
    margin-right: 5px;
}

.login__main__form-div-span{
display: none;
}

.login__main__form-div-button {
    margin-top: 20px;
    width: 100%;
}

.login__main__form-button-submit{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--colorCeleste); 
    color: black; /* Color del texto negro */
    border: 2px solid var(--colorCeleste); /* Bordes celestes */
    border-radius: 2px; 
    text-decoration: none; /* Quita la subrayado que suele aparecer en enlaces */
    display: inline-block; /* Hace que el botón tenga el tamaño del contenido */
    margin-left: 10px;
}

.login__main__form-button-create {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: white; /* Color de fondo celeste */
    color: black; /* Color del texto negro */
    border: 4px solid lightblue; /* Bordes celestes */
    border-radius: 5px; /* Radio de borde para darle esquinas redondeadas */
    text-decoration: none; /* Quita la subrayado que suele aparecer en enlaces */
    display: inline-block; /* Hace que el botón tenga el tamaño del contenido */
    margin-left: 40px;
}

.login__main__form-button-submit:hover,
.login__main__form-button-create:hover {
    background-color: blue; /* Cambia el color de fondo al pasar el ratón por encima */
    border-color: blue; /* Cambia el color del borde al pasar el ratón por encima */
    color: white; /* Cambia el color del texto al pasar el ratón por encima */
}

.login__body__div1, .login__body__div2 {
  height: 35px; 
  width: 90%;

  background-color: var(--colorCeleste);
  border: none; 
  margin: 0 auto; 
  margin-top: 10px;
  margin-bottom: 10px;
}


.login__body__section3 {
    background-color: var(--colorArena);
margin: 5px
}

.login__body__section3 img{
   width: 95%;
   align-items: center;
   justify-content: center;
   padding: 10px 10px 10px 30px;

}

  @media (min-width: 768px){
    .login__body__section1 p{
        background-color: var(--colorCeleste);
        font-family: var(--tipografia);
        font-weight: bold;
        padding: 5px;
        font-size: 2vmax;
        text-align: center;
    align-items: center;
    }



/* IMAGENES CAJA TABLET*/ 
.login__body__section3 {
    display: flex;
    justify-content: center;
    background-color: var(--colorArena);
    height: 600px;
  }
  
  .login__body__section3__article {
    display: flex;
    width: 100%;
  }
  
  .login__body__section3__article__div--contlargo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50%;
  }
  
  .cara-image {
    max-width: 100%;
    height: auto; 
    max-height: 600px;
  }
  
  .login__body__section3__article__div--contdoble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 50%;
  }
  
  .login__body__section3__article__div--contdoble img {
    max-width: 100%;
    height: 300px; 
  }

}

@media (min-width: 1024px){

    .login__body__section1 p{
        background-color: var(--colorCeleste);
        font-family: var(--tipografia);
        font-weight: bold;
        padding: 5px;
        font-size: 2vmax;
        text-align: center;
    align-items: center;
    }


    .login__body__div__desktop{
        display:flex
        
    }

    .login__body__section2, .login__body__section3{
        margin-bottom: 10px;
        justify-content: space-between;
        flex-wrap: column;
        width: calc(50% - 10px)
    }

    .login__body__section3 {
        display: flex;
        justify-content: center;
        background-color: var(--colorArena);
        height: 600px;
      }
      
      .login__body__section3__article {
        display: flex;
        width: 100%;
      }
      
      .login__body__section3__article__div--contlargo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 50%;
      }
      
      .cara-image {
        max-width: 100%;
        height: auto; 
        max-height: 600px;
      }
      
      .login__body__section3__article__div--contdoble {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        width: 50%;
      }
      
      .login__body__section3__article__div--contdoble img {
        max-width: 100%;
        height: 300px; 
      }
    
      .login__body__div1{
        
        display: none
      }
      .login__body__div2{
    width: 98%;  
    }



}