.carrito {
    display: flex;
    flex-direction: column;
    background-color: var(--colorCeleste);
    padding: 10px;
}
  
.carrito_resumen {
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    text-align: center;
    padding: 20px;
}
  
.carrito_resumen h1 {
    margin-bottom: 10px;
}
  
.carrito_resumen a {
    text-align: right;
    color: var(--colorBlanco);
    border-bottom: solid 1px var(--colorBlanco);
    padding: 5px;
}
  
.carrito_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.carrito_contenido h2 {
    display: none;
}
  
.carrito_producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    border-radius: 10%;
    margin: 10px;
    background-color: var(--colorArena);
    padding: 10px;
}
  
.carrito_producto_imagen img {
    width: 80%;
    left: 30px;
    position: relative;
    border: solid 1px var(--colorNegro);
}

.carrito_producto_cantidad button {
    width: 35px;
    border-radius: 67%;
    height: 35px;
    font-size: 20px;
    border: solid 1px var(--colorNegro);
    background-color: var(--colorCeleste);
}

.carrito_producto_cantidad span {
    font-size: 30px;
}

.carrito_producto_borrar input {
    border: solid 1px;
    background-color: var(--colorArena);
    font-size: 20px;
    height: 23px;
    width: 20px;
}
  
.carrito_compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
  
.carrito_compra_cuadro {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 0;
    gap: 8px;
    text-align: center;
    width: 100%;
    background-color: var(--colorArena);
}

.carrito_compra_subtotal {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}


.carrito_compra_envio {
    background-color: var(--colorBlanco);
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
}


.carrito_compra_envio form div{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  
.carrito_compra_total {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}
  
.carrito_compra_pagar {
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    padding: 20px 10px;
    border:0;
    width: 10.375rem;
    font-size: 0.75rem;
    text-transform: uppercase;
}

  
@media (min-width: 768px) {

    .carrito_resumen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .carrito_resumen a {
        border: none;
        transition: all 0.5s;
    }

    .carrito_contenido_div-h2 {        
        display: flex;        
        width: 100%;        
        gap: 45px;        
        flex-direction: row;        
        justify-content: flex-end;
    }

    .carrito_contenido h2 {
        display: flex;
    }
  
    .carrito_producto {
        flex-direction: row;
        gap: 30px;
        flex: 1;
        border-radius: 5%;
    }

    .carrito_producto_imagen img {
        width: 60%;
    }

    .carrito_producto_cantidad {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .carrito_compra_envio form {
        display: flex;
        gap: 104px;
        flex-direction: row;
    }

}
  
@media (min-width: 1024px) {

    .carrito_resumen a:hover {
        border: solid 5px var(--colorBlanco);
    }

    .carrito_contenido {
      margin-top: 10px;
    }
  
    .carrito_producto {
      flex: 1;
    }
  
    .carrito_compra {
      flex: 1;
      align-self: flex-end;
      width: 50%;
    }

    .carrito_compra_subtotal {
        justify-content: space-between;
    }

    .carrito_compra_envio form {
        gap: 28px;
    }
  
    .carrito_compra_total {
      justify-content: space-between;
    }
  
    .carrito_compra_pagar {
      width: auto;
    }
}