@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import './general.css';
@import './vars.css';
@import './header.css';
@import './footer.css';
@import './index.css';
@import './productDetail.css';
@import './productCart.css';
@import './register.css';
@import './login.css';