<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {
        title : 'CARRITO'
    }) %>

    <body class="home__body">
    
        <%- include('partials/header') %>

    <main class="carrito">
        <section class="carrito_resumen">
            <h1>"Pendiente de Diamantes" se agregó a tu carrito.</h1>
            <a href="/">Seguir comprando</a>
        </section>
        <section class="carrito_contenido">
            <div class="carrito_contenido_div-h2">
                <h2>Producto</h2>
                <h2>Precio</h2>
                <h2>Cantidad</h2>
                <h2>Subtotal</h2>
            </div>
            <article class="carrito_producto">
                <figure class="carrito_producto_imagen">
                    <img src="/images/prod1.jpg" alt="Pendiente de Diamantes">
                </figure>
                <div class="carrito_producto_detalle">Pendiente de Diamantes</div>
                <div class="carrito_producto_precio">$6.000,00</div>
                <div class="carrito_producto_cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </div>
                <div class="carrito_producto_subtotal">$6.000,00</div>
                <div class="carrito_producto_borrar">
                    <input type="reset" value="X">
                </div>
            </article>
        </section>
        <section class="carrito_compra">
            <h2>Total del carrito de compras:</h2>
            <div class="carrito_compra_cuadro">
                <div class="carrito_compra_subtotal">
                    <p>Subtotal</p>
                    <span>$6.000,00</span>
                </div>
                <div class="carrito_compra_envio">
                    <form action=".">
                            <p>Envío</p>
                            <div>
                                <input type="radio" id="envio-correo" name="envio" checked>
                                <label for="envio-correo">Correo Argentino</label>
                            </div>
                            <div>
                                <input type="radio" id="envio-andreani" name="envio">
                                <label for="envio-andreani">Andreani</label>
                            </div>
                            <div>
                                <input type="radio" id="envio-mercado-libre" name="envio">
                                <label for="envio-mercado-libre">Mercado Libre</label>
                            </div>
                    </form>
                </div>
                <div class="carrito_compra_total">
                    <p>TOTAL</p>
                    <span>$6.000,00</span>
                </div>
            </div>
            <button class="carrito_compra_pagar">Proceder al Pago</button>
        </section>
    </main>

    <%- include('partials/footer') %>
    
</body>
</html>