/* CAROUSEL 2  MOBILE */

.carousel2 {
    position: relative;
    padding-bottom: 50px;
    /* margin-bottom: 10px; */
}

.carousel2 .swiper {

    width: 100%;
}

.carousel2 div.swiper-wrapper {
    position: relative;
}


/* titulo carousel2 */

div.titulo-carousel2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navegacion */
div.titulo-carousel2 div.navegacion {
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    left: 6px;
}

div.titulo-carousel2 div.navegacion a {
    text-decoration: underline;
    font-weight: 700;
}

div.titulo-carousel2 div.navegacion i {
    display: none;
}

/* Cards */

.carousel2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel2 .swiper-slide h5 {
    min-height: 2rem;
    overflow: hidden;
}


.home__section-productos {

    position: relative;

    background-color: var(--colorBlanco);

    padding: 10px 10px 30px 10px;
}

.home__section-productos h2 {
    font-family: var(--tipografiaTitulos);
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    margin: 20px 0px 20px 0px;
}


.home__section-productos div.producto div.img-prod {
    position: relative;
    width: 100%;
    height: 100%;
}

.home__section-productos div.producto i {
    position: absolute;
    bottom: 7px;
    right: 14px;
}



/* descripcion */
.home__section-productos div.descripcion-prod {
    margin: 10px;

}


.home__section-productos div.descripcion-prod h5 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: left;
}

.home__section-productos div.descripcion-prod p {
    display: none;
}

.home__section-productos div.contenedor-boton {
    width: 100%;
    text-align: left;
}

.home__section-productos div.descripcion-prod button {
    background-color: var(--colorBlanco);
    outline: none;
    padding: 0px;
    border: none;
    font-family: var(--tipografia);
}

/* <------------ MEDIA QUERIES ------------>*/

/* TABLET */

@media(min-width:768px) {

    

    .home__section-productos {
        padding: 20px 20px 30px 20px;
        margin-bottom: 40px;
    }

    .home__section-productos h2 {
        font-size: 2rem;
        margin: 40px 0px;
    }

    .home__section-productos div.producto i {
        top: 16px;
        right: 20px;
        font-size: 1.3rem;
    }


    /* descripcion */

    .home__section-productos div.descripcion-prod h5 {
        font-size: 1.2rem;
        padding: 10px 0px;
    }

    .home__section-productos div.descripcion-prod p {
        font-size: 1.3rem;
        text-align: left;
        display: block;
    }

    .home__section-productos div.descripcion-prod button {

        font-size: 1.3rem;
        position: absolute;
        bottom: 97px;
        left: 20px;
        padding: 10px;
    }

}



@media(min-width:1024px) {

    .home__section-productos {
        position: relative;
        padding: 20px 60px;
        margin: 20px 0px;
    }

    /* titulo carousel2 */

    .home__section-productos div.titulo-carousel2 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    /* navegacion */

    .home__section-productos div.titulo-carousel2 div.navegacion {
        display: flex;
        position: relative;
        /* z-index: 0; */
        width: 26%;
        align-items: center;
        justify-content: space-between;
    }


    .home__section-productos div.titulo-carousel2 div.navegacion a {
        padding: 0px 30px;
        text-decoration: underline;
        font-weight: 700;
        width: 60%;
    }

    /* flechas de navegacion */
    .home__section-productos div.titulo-carousel2 div.flechas {
        display: flex;
        width: 40%;
        height: 30px;
        align-items: center;
    }

    .home__section-productos div.titulo-carousel2 div.flechas i {
        padding: 16px 20px;
        display: inline-block;
    }

    .home__section-productos div.titulo-carousel2 div.flechas i:hover {
        background-color: var(--colorNegro);
        color: var(--colorBlanco);
    }


    /*  card  */
    .swiper-slide:hover {
        border: 1px solid var(--colorNegro);
    }

    .swiper-slide div.descripcion-prod {
        position: relative;
    }

    .swiper-slide div.contenedor-boton {
        position: absolute;
        bottom: -11px;
        right: 18px;
        transition: bottom 0.3s ease;
    }

    .swiper-slide:hover div.contenedor-boton {
        bottom: 0px;
    }


    /* descripcion */

    .home__section-productos div.descripcion-prod h5 {
        min-height: 4rem;
    }

    .home__section-productos div.descripcion-prod button {
        bottom: 120px;

    }

}