* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--colorNegro);
}

a:hover{
    text-decoration: none;
    color: var(--colorNegro);
    width: 100p;
}


body {
    font-family: var(--tipografia);
}
img{
    width: 100%;
}