/* DETALLE DE PRODUCTO (MOBILE) */

section.contenedor-detalle {

  padding: 10px 20px;
  background: var(--colorBlanco);
  margin: 10px 0px;
}

section.contenedor-detalle div.volver {
  margin: 10px 0px;
}

section.contenedor-detalle div.volver i {

  padding-right: 10px;
}


section.contenedor-detalle div.detalle-info h4 {

  font-weight: 700;
  text-transform: uppercase;
}

section.contenedor-detalle div.detalle-info h5 {

  font-weight: 600;
}

section.contenedor-detalle div.detalle-info h6 {

  font-weight: 700;
  color: var(--colorGris);
}

section.contenedor-detalle div.detalle-info p {

  color: var(--colorGris);
}

section.contenedor-detalle div.info-extra {

  padding: 10px 0px;
  margin: 20px 0px;
}

section.contenedor-detalle div.info-extra div {

  display: flex;
  align-items: center;
  margin-top: 10px;
}

section.contenedor-detalle div.info-extra p {

  margin: 0;
  padding-left: 15px;
  font-weight: bold;
}

section.contenedor-detalle div.detalle-info {
  padding: 10px 0px;
}


/* TABLET */

@media(min-width:768px) {

 

  section.contenedor-detalle div.detalle {

    display: flex;
    justify-content: space-between;

  }

  section.contenedor-detalle div.detalle div.detalle-img {

    width: 50%;

  }

  section.contenedor-detalle div.detalle div.contenido-producto {

    width: 45%;

  }

  /* Boton */
  section.contenedor-detalle button {

    width: 100%;

  }

  


}

/* DESKTOP */


@media(min-width:1024px) {


  section.contenedor-detalle div.detalle {
    justify-content: space-evenly;
  }

  section.contenedor-detalle div.detalle div.contenido-producto {

    width: 30%;

  }

}