:root {
    --tipografiaTitulos :
    'PT Serif';
    --tipografia :
    'lato';
    --colorNegro : black;
    --colorGris : grey;
    --colorBlanco : white;
    --colorCeleste: rgb(228 241 245);
    --colorArena : #eed8a7;
}