:root {
    --tipografiaTitulos : 'PT Serif';
    --tipografia : 'lato';
    --colorNegro : black;
    --colorGris : grey;
    --colorBlanco : white;
    --colorCeleste : lightblue;
    --colorArena : #eed8a7;
}