<footer>
  <section class="informacion">
    <div class="grupo-info">
      <div class="productos">
        <h3>Productos</h3>
        <ul>
          <li><a href="">Anillos</a></li>
          <li><a href="">Collares</a></li>
          <li><a href="">Pendientes</a></li>
          <li><a href="">Pulseras</a></li>
          <li><a href="">Joyeros</a></li>
        </ul>
      </div>
      <div class="contacto">
        <h3>Contacto</h3>
        <ul>
          <li><a href="">Atención al cliente</a></li>
          <li><a href="">Whatsapp</a></li>
        </ul>
      </div>
      <div class="nosotros">
        <h3>Nosotros</h3>
        <ul>
          <li><a href="">Tiendas</a></li>
          <li><a href="">La Marca</a></li>
          <li><a href="">Sostenibilidad</a></li>
          <li><a href="">Club Valka</a></li>
        </ul>
      </div>
      <div class="informacion">
        <h3>Información</h3>
        <ul>
          <li><a href="">Preguntas frecuentes</a></li>
          <li><a href="">Guia de talles</a></li>
          <li><a href="">Envios y entregas</a></li>
          <li><a href="">Estado de mi pedido</a></li>
          <li><a href="">Cambios y devoluciones</a></li>
          <li><a href="">Cuidados de las joyas</a></li>
          <li><a href="">Condiciones generales</a></li>
        </ul>
      </div>
    </div>
    <div class="redes">
      <nav>
        <h3>Comunidad</h3>
        <ul>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-pinterest"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-spotify"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="CTA">
    <h2>
      ¿Quieres<br />
      un 15%dto?
    </h2>
    <p>
      Suscríbete y consigue 15% dto en tu primera compra y mantente al dia de
      todo el universo VALKA
    </p>
    <form action="/newsletter" method="post">
      <p>
        <input type="email" name="email" placeholder="Ingresa tu email" />
      </p>
      <div class="contenedor-button">
        <button class="botonPrimario">
          Suscríbete ahora <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </form>
  </section>
</footer>
