<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Valka Joyas | <%= title %></title>

  <!-- SWIPER SLIDER CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />

  <!-- LOCAL STYLE -->
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <script
    src="https://kit.fontawesome.com/1b02374fff.js"
    crossorigin="anonymous"
  ></script>
</head>
