<header>
  <div class="text-superior">
    <p>APROVECHA 3 6 Y 12 CUOTAS SIN INTERESES SELECCIONANDO MERCADO PAGO</p>
  </div>
  <div class="barra-menu">
    <i class="fas fa-bars"></i>
    <div class="contenedor-logos">
      <div class="logo1">
        <a href="/"> <img src="/images/Logo_Valka.png" alt="" /></a>
      </div>
      <div class="logo2">
        <a href="/"><img src="/images/Logo_Valka2.png" alt="" /></a>
      </div>
    </div>
    <nav>
      <ul>
        <li>novedades</li>
        <li>joyas</li>
        <li>sale 30%</li>
        <li>regalos</li>
      </ul>
    </nav>
    <div class="buscador">
      <form action="/search" id="formKeywords" method="GET">
        <div class="contenedor-input">
          <input type="text" id="keywords" name="keywords" placeholder="Buscar" />
          <small id="msgErr-keywords" class="ms-2 text-danger"></small>
          <button type="submit" class="buscar">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="iconos-top">
      <% if (!locals.userLogin) { %>
      <a href="/users/login"><i class="far fa-user"></i></a>
      <a href=""><i class="far fa-heart"></i></a>
      <a href=""><i class="fas fa-shopping-cart"></i></a>
      <% }else { %> <% if (userLogin.rol === 1) { %>
      <a href="/admin"><strong>ADMIN</strong></a>
      <br />
      <a href="/users/profile">Bienvenid@<%= userLogin.name %>!</a>
      <a href=""><i class="far fa-heart"></i></a>
      <a href=""><i class="fas fa-shopping-cart"></i></a>
      <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>

      <% }else { %>
      <a href="/users/profile">Bienvenid@ <%= userLogin.name %>! </a>
      <a href=""><i class="far fa-heart"></i></a>
      <a href=""><i class="fas fa-shopping-cart"></i></a>
      <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
      <% }%> <% }%>
    </div>
  </div>
  
  <!-- <script src="/javascripts/search.js"></script> -->
</header>
