<header>
  <div class="text-superior">
    <p>APROVECHA 3 6 Y 12 CUOTAS SIN INTERESES SELECCIONANDO MERCADO PAGO</p>
  </div>
  <div class="barra-menu">
    <i class="fas fa-bars"></i>
    <div class="contenedor-logos">
      <div class="logo1">
        <a href="/"> <img src="/images/Logo_Valka.png" alt="" /></a>
      </div>
      <div class="logo2">
        <a href="/"><img src="/images/Logo_Valka2.png" alt="" /></a>
      </div>
    </div>
    <nav>
      <ul>
        <li>novedades</li>
        <li>joyas</li>
        <li>sale 30%</li>
        <li>ideas para regalos</li>
      </ul>
    </nav>
    <div class="buscador">
      <form action="#">
        <div class="contenedor-input">
          <input type="text" placeholder="Buscar" />
          <i class="fas fa-search"></i>
        </div>
      </form>
    </div>
    <div class="iconos-top">
      <a href="/users/login"><i class="far fa-user"></i></a>
      <a href=""><i class="far fa-heart"></i></a>
      <a href=""><i class="fas fa-shopping-cart"></i></a>
    </div>
  </div>
</header>
